
.bobbing-element:hover {
    animation: gentleBob 2s infinite alternate ease-in-out;
}

@keyframes gentleBob {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px); /* Adjust this value for desired bobbing height */
    }
    100% {
        transform: translateY(0);
    }
}

.gm-style-iw {
    background-color: var(--bs-body-bg) !important; /* Bootstrap dark background */
    color: var(--bs-body-color) !important; /* Bootstrap dark text color */
    border: 1px solid var(--bs-border-color) !important; /* Optional border for dark theme */
}

html[data-bs-theme="light"] .gm-style-iw {
    background-color: white;
    color: black;
}

html[data-bs-theme="dark"] .gm-style-iw {
    background-color: black;
    color: white;
}